[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Werkzeug = "2.2.2"
flask-migrate = "*"
flask-restful = "*"
flask-cors = "*"
faker = "*"
flask-jwt-extended = "*"
bcrypt = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"

[requires]
python_full_version = "3.8.13"

[dev-packages]
